# Archivo: .ebextensions/01_mi_config.config

option_settings:
  # Configura el servidor proxy (Nginx) para servir archivos estáticos
  # Asume que tus archivos CSS, JS, e imágenes están en un directorio llamado 'static'
  # en la raíz de tu paquete de código fuente.
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
    # Si tienes otros directorios de nivel superior con archivos estáticos, puedes añadirlos aquí.
    # Por ejemplo, si tienes imágenes en un directorio 'images':
    # /images: images

# (Opcional) Comandos de contenedor para ejecutar durante el despliegue
# Útil para migraciones de bases de datos, instalar paquetes del sistema operativo, etc.
# Para un panel meteorológico simple, podrías no necesitar esto inicialmente.
# container_commands:
#   01_install_jq:
#     command: "yum install -y jq" # Ejemplo para instalar la herramienta jq en Amazon Linux
#     ignoreErrors: true
#   02_my_custom_script:
#     command: "python scripts/setup_something.py"
#     leader_only: true # Ejecutar solo en una instancia si es una tarea de configuración única